
.example-container {
    height: 100vh;
    background-color:#4c4c4c;
  }
  
  .main-1 {
    padding:1rem;}
/*
.example-sidenav-content {
}
*/
.example-sidenav {
  background-color:#9c9c9c;
  padding: 3%;
}